body {
  background: url('../images/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
#centered{
	color: white;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #0000007a;
}
.btn-custom{
	width: 250px;
	height: 75px;
	font-size: 25px;
}

@font-face {
    font-family: "mountains";
    src: url(../fonts/beyond_the_mountains.ttf);
    src: url(../fonts/beyond_the_mountains.otf);
    font-weight: 400;
}
#header{
	font-family: mountains;
	color: #25ffbf;
	font-weight: 500;
}
@media screen and (max-width: 768px) {
    #header{
        font-size: 50px;
    }
}
@media screen and (max-width: 300px) {
    #header{
        font-size: 40px;
    }
}